
.App {
    text-align: center;
    color: white;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.Error {
    color: red;
    font-size: calc(10px + 1vmin);;
}
#footer {
    background-color: #efefef;
    flex: 0 0 50px;/*or just height:50px;*/
    margin-top: auto;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }

    .Logo-text-up {
        animation: fadeOut infinite 20s linear;
    }

    .Logo-text-down {
        animation: fadeIn infinite 20s linear;
    }
}

.App-link {
    color: #61dafb;
}

.List-container{
    overflow-y: auto;
    max-height: 600px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        color: white
    }
    40% {
        opacity: 0;
        color: white
    }
    50% {
        opacity: 1;
        color: red
    }
    60% {
        opacity: 0;
        color: white
    }
    100% {
        opacity: 0;
        color: white
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        color: green
    }
    10% {
        opacity: 0;
        color: white
    }
    100% {
        opacity: 0;
        color: white
    }
}

